.container {
  padding: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  overflow: hidden;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .letsText {
    color: var(--palegreen);
  }
  .togetherText {
    color: var(--green);
    font-weight: 500;
    margin-left: 7rem;
  }

  .decor {
    width: 60%;
    height: 3px;
    background: linear-gradient(90deg, transparent 0%, var(--palegreen) 100%);
    margin: 2rem 0;
    margin-top: 3rem;
  }

  .iconsContainer {
    a {
      transition: 0.2s all;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
