.container {
  padding: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  overflow: hidden;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .letsText {
    color: var(--palegreen);
  }

  .togetherContainer{
    padding-bottom: 1rem;
  }
  .togetherText {
    color: var(--green);
    font-weight: 500;
    margin-left: 7rem;
    
  }

  .decor {
    width: 60%;
    height: 3px;
    background: linear-gradient(90deg, transparent 0%, var(--palegreen) 100%);
    margin: 2rem 0;
    margin-top: 3rem;
  }

  .iconsContainer {
    a {
      transition: 0.2s all;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;

    .togetherText {
      color: var(--green);
      font-weight: 500;
      margin-left: 5rem;
    }
  }
}

@media (max-width: 558px) {
  .container {
    margin-left: 0;
    padding: 0.5rem;
    margin-top: 2rem;

    & > div {
      justify-content: center;
      margin-left: 0.25rem;
      height: 15rem;
    }

    .togetherText {
      margin-left: 5rem;
    }

    .decor {
      display: none;
    }

    .iconsContainer {
      a {
        transition: 0.2s all;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
