.container {
  height: 80vh;
  position: relative;
  background-color: #7f9685;
  padding: 4rem 2rem;
  overflow: visible;
  margin: 2rem;
  border-radius: 2rem;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .leftContainer {
    text-align: center;
    z-index: 1;

    h2 {
      font-size: 3rem;
      color: var(--green);
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      color: var(--palegreen);
    }
  }

  .rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    margin-right: 5rem;
    .rightContentContainer {
      position: relative;
      width: 30rem;
      height: 90%;
      border-radius: 2rem;
      background-color: #fafafa;

      .shadow {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        width: 80%;
        height: 3rem;
        background: radial-gradient(
          ellipse at center,
          rgba(0, 0, 0, 0.35) 0%,
          rgba(0, 0, 0, 0.15) 40%,
          rgba(0, 0, 0, 0) 70%
        );
        transform: translateX(-50%);
        filter: blur(6px);
        z-index: 99;
      }
    }
  }
}


@media (max-width: 1800px) {
  .container{
    min-height: 80vh;
  }
}