.container {
  display: flex;
  padding: 4rem;
  margin-top: -3rem;
  width: 70%;
  border-radius: 1rem;
  overflow: hidden;

  .imgContainer {
    img {
      width: 35rem;
      border-radius: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: -1rem;
    width: 95%;

    .imgContainer {
      img {
        width: 35rem;
        border-radius: 1rem;
      }
    }
  }
}
