.container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;

  & > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .titleContainer {
    position: relative;
    justify-content: flex-end;
    h1 {
      font-size: 3.75rem;
      font-weight: 900;
    }

    h2 {
      font-size: 10rem;
      color: transparent;
      -webkit-text-stroke: 3px #e5e5e5;
      opacity: 0.75;
      transition: 0.3s ease;
      z-index: -1;
    }
  }

  .descContainer {
    position: relative;
    margin-top: -5rem;
    justify-content: flex-start;
    p {
      font-size: 1.25rem;
      font-weight: 900;
      padding-right: 10rem;
    }

    h2 {
      font-size: 10rem;
      right: 2rem;
      color: transparent;
      -webkit-text-stroke: 3px #e5e5e5;
      opacity: 0.75;
      transition: 0.3s ease;
      z-index: -1;
    }
  }

  .thunderContainer {
    .thunder {
      position: absolute;
      left: 40%;
      top: 20%;
      width: 18rem;
      height: auto;
      opacity: 0.2;
      z-index: -9;

      polygon {
        stroke-linejoin: round;
        stroke-linecap: round;
      }
    }

    .bottle {
      display: none;
      position: absolute;
      left: 43%;
      top: 5%;
      width: 18rem;
      height: auto;
      opacity: 0.2;
      z-index: 0;
      transform: rotate(35deg);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 80vw;
    height: 0.1rem;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--palegreen) 50%,
      transparent 100%
    );
    opacity: 0.1;
    bottom: 2rem;
  }
}

@media (max-width: 1800px) {
  .container {
    .titleContainer {
      gap: 5rem;
      h1 {
        font-size: 2.75rem;
      }

      h2 {
        font-size: 7rem;
      }
    }

    .descContainer {
      margin-top: -3rem;
      p {
        font-size: 1.1rem;
        padding-right: 7.5rem;
        padding-left: 7.5rem;
      }

      h2 {
        font-size: 7rem;
      }
    }
  }
}
