.container {
  min-height: 100vh;
  max-width: 99vw;
  padding: 2rem;
  padding-top: 0rem;
  display: grid;
  grid-template-columns: 75% 25%;
  overflow: hidden !important;

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;

    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.05rem;
      padding-bottom: 1rem;
    }
  }

  .timelineContainer {
    display: flex;
  }

  .testimonialContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;

    .timelineTitle {
      padding: 3rem;
    }

    .timeline {
      position: relative;
      cursor: pointer;
      .quote {
        position: absolute;
        top: 2rem;
        left: 2rem;
      }
    }
  }

  .divider {
    width: 80%;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--palegreen) 50%,
      transparent 100%
    );
    margin: 2rem 0;
    margin-top: 3rem;
  }
}
