@use "tailwindcss";

@font-face {
  font-family: "inter";
  src: url("/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonik";
  src: url("/fonts/aeonik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manrope";
  src: url("/fonts/manrope.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "orbitron";
  src: url("/fonts/orbitron.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #151515;
  --palegreen: #67846c;
  --charcoal: #050608;
  --gold: #a28b41;
  --green:#204033;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: #000000;
  }
}



body {
  background: var(--white);
  color: var(--green);
  font-family: "manrope", sans-serif;
  font-optical-sizing: auto;
}

span {
  color: var(--para);
}

h1,
h2,
h3,
h4 {
  color: var(--green);
  font-family: "aeonik", sans-serif;
}

p {
  color: var(--palegreen);
}

button,
img,
svg {
  cursor: pointer !important;
}


.thunder {
  height: 200px; /* control the size */
  aspect-ratio: 0.56;
  clip-path: polygon(
    100% 0,
    23% 46%,
    46% 44%,
    15% 69%,
    38% 67%,
    0 100%,
    76% 57%,
    53% 58%,
    88% 33%,
    60% 37%
  );
  background: #ff8001;
}

.testing{
  border: 2px solid red;
}
